/*{ border: solid 1px red }*/

body{
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-around;  
  align-items: center;
  background-color: #1f2937;
  flex-basis: 50px;
  padding: 10px;
}
.logo{
  font-size: 24px;
  color: #f9faf8;
}

ul{
  display: flex;
  list-style: none;
  gap: 18px;
}
img{
  display: flex;
  justify-content: flex-end;
  width: 200px;
  height: auto;
  margin-left: auto;
  
}

.image1{
  display: flex;
  width: 200px;
  height: 200px;
  border: 5px solid #3882f6;
}

a{
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;

}

.heading2{
  background-color: #1f2937;
  display: flex;
  justify-content: space-evenly;  
  padding: 20px;
  color: #e5e7eb;
}



.title{
  display: flex;
  color: #f9faf8;
  font-weight: bolder;
  font-size: 48px;
  flex: 1;
  width: 300px;
  flex-wrap: wrap;

}

.subtext{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 500px;
  font-size: 18px;
  flex: 1;
}
.soda1{
  text-align: center;
}

.button{
 display: flex;
 background-color: #3882f6;
 color: #e5e7eb;
 text-align: center;
 border-radius: 6px;
 padding: 10px;
 min-height:25px;
 min-width: 110px; 
 justify-content: center;

}


.information{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 4px;

}
.container1{
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  gap: 25px;
}
.subtext1{
  width: 200px;
}
.quote{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #e5e7eb;
  padding: 80px;
}

.contentquote{
display: flex;
color: #1f2937;
font-size: 36px;
font-style: italic;
font-weight: lighter;
width: 600px;
}

.signature-mover{
  display: flex;
}
.signature{
display: flex;
}
.quote-mover{
  display: flex;
}

.signupbox{
  display: flex;
  justify-content: space-around;
  background-color: #3882f6;
  border-color: #e5e7eb;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 400px;
  margin-right: 400px;
  border-radius: 10px;
  flex: 1;
  padding: 30px;

  color: #e5e7eb;
}
.box-title{
  display: flex;
  font-weight: bold;
  font-size: 16px;
}
.boxer-mover{
  display: flex;
  flex-direction: column;
}
.box-subt{
  display: flex;
  font-size: 13px;
}
.button1{
display: flex;
background-color: #3882f6;
color: #e5e7eb;
text-align: center;
border: 2px solid;
border-color: #e5e7eb;
border-radius: 8px;
padding: 8px;
min-height:10px;
min-width: 120px; 
justify-content: center;}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #1f2937 ;
  color: #e5e7eb;
  font-size: 11px;
}
