*{ border: solid 1px red }

body{
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  flex-basis: 100px;
  padding: 16px;
}
.logo{
  font-size: 24px;
  color: #f9faf8;
}

ul{
  display: flex;
  list-style: none;
  gap: 18px;
}
img{
  display: flex;
  justify-content: flex-end;
  width: 200px;
  height: auto;
  margin-left: auto;
  
}

a{
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;

}

.heading2{
  background-color: #1f2937;
  display: flex;
  justify-content: flex-start;  
  padding: 40px;
  color: #e5e7eb;
;


}
.title{
  display: flex;
  color: #f9faf8;
  font-weight: bolder;
  font-size: 48px;
  flex: 1;
}
.subtext{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 500px;
  font-size: 18px;
  flex: 1;
}
.button{
 display: flex;
 background-color: #3882f6;
 color: #e5e7eb;
 text-align: center;
 border-radius: 8px;
 padding:10px;
 min-height:30px;
 min-width: 120px; 
 justify-content: center;

}
.titlesub1{
  display: flex;
  flex-direction: column;
}

.information{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 20px;

}
.container1{
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}